.cardsContainer {
    display: flex;
    flex-wrap: wrap;
}



/* width */
::-webkit-scrollbar {
    
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-bottom-right-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #3d0066;
    
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #8306d7;
  }
  .blure{
    z-index: -1;
    filter: blur(1px);
  }

  .hide-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #1111117b;
    backdrop-filter: blur(3px);
    display: flex;
    justify-content: center;
    align-items: center;
  }