.main-header {
  width: 98%;
  box-sizing: border-box;
  display: flex;
  margin: 20px 0 20px 20px;
  border-radius: 20px;
  padding: 20px;
  /* background-color: #3d0066; */
  background-image: linear-gradient(
    45deg,
    rgb(201, 201, 201),
    rgb(201, 201, 201),
    rgb(201, 201, 201),
    rgb(201, 201, 201),
    rgb(201, 201, 201),
    #3d0066
  );
}

.main-header .header-icons {
  margin-left: auto;
  display: flex;
  margin-right: 40px;
}

.main-header .header-icons div:first-child {
  margin-right: 20px;
}

.main-header .header-icons div {
  scale: 1.3;
  color: rgb(221, 221, 221);
}
